@import "../config.scss";
@mixin group {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between !important;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
}
@mixin button($color, $alpha) {
    p{
        text-align: center
    }
    flex-shrink: 0;
   
    color: $color;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    border-radius: 35px;
    background-color: rgba($color: $color, $alpha: $alpha)
  }

.main {
    color: $white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-bottom: 60px;
    padding-top: 13em;
  
   

}

.left-side{
    width: 404px;
    height: 566px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 73px;
    background: linear-gradient(180deg, $light-slate-blue 0%, $light-royal-blue 100%);
    h1{
        flex-shrink: 0;
        color: $light-lavender;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


}

.smal-description{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    h1{
        color:$white;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        color: $white;
        padding: 0;
        margin: 0px; 
    }
   

}

.description{
    color: $light-lavender;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding-right: 75px;
    padding-left: 61px;

}

.percentage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 250px;
    height: 250px;
    border-radius: 170px;
    margin-bottom: 10px;
    background: radial-gradient(50% 50.00% at 50% 50.00%, $persian-blue 0%, $violet-blue 100%);
   
    h3{
        margin-top: 1px;
        color:  $light-lavender;
    }
}
.value{
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
    padding: 0;
    margin: 0px;
}

.group-reaction {
    @include group;
    @include button($light-red, $alpha);
    
}
.group-memory{
    @include group();
    @include button($orangey-yellow, $alpha);
   
}
.group-visual{
    @include group();
    @include button($green-teal, $alpha);
    
}
.group-verbal{
    @include group();
    @include button($cobalt-blue, $alpha);
    
}


