@import "../styles.scss";
@import "./part.scss";
@import "./part2.scss";

.main {
   
    .right-side{
        width: 404px;
        height: 566px;
        box-shadow: 20px 0px 4px rgba(0, 0, 0, 0.20);
        border-top-right-radius: 94px;
        border-bottom-right-radius: 94px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dark-gray-blue;
        @include left();
        .send{
            margin-left: 40px;
            border-radius: 35px;
            color: $white;
            background-color: $dark-gray-blue;
            width: 313px;
            height: 57px;
            flex-shrink: 0;
            border: none;
            
        }
        .send:active, .send:hover{
            background-color: $light-slate-blue;
        }
    }
  .left-side{
     width: 404px;
            height: 566px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 73px;
            background: linear-gradient(180deg, $light-slate-blue 0%, $light-royal-blue 100%);
  }

}






