 @mixin right{
.right-side{
      
        .title{
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 20px;
            padding-top: 10px;
            margin-left: 40px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        
            
            
        }
        
    }
