 @mixin right{
.right-side{
        width: 404px;
        height: 566px;
        box-shadow: 20px 0px 4px rgba(0, 0, 0, 0.20);
        border-top-right-radius: 94px;
        border-bottom-right-radius: 94px;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $dark-gray-blue;
        .title{
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 20px;
            padding-top: 10px;
            margin-left: 40px;
            justify-content: flex-start;
            align-items: flex-start;
        }
        .table{
            font-size: 18px;
            display: flex;
            flex-direction: column;
            padding: 10px;
            ul{
                list-style: none;
                padding-left: 0;
            }
            li{
                
                border-radius: 94px;
                padding: 10px 30px ;
                width: 313px;
                height: 57px;
                flex-shrink: 0;
                .value-visual, .value-memory, .value-reaction, .value-verbal{
                    color: $light-lavender;
                }
                #value_bold{
                    font-size: 20px;
                    font-weight: 700;
                    color: $dark-gray-blue;
                }
                .group-reaction {
                    @include group;
                    @include button($light-red, $alpha);
                    
                }
                .group-memory{
                    @include group();
                    @include button($orangey-yellow, $alpha);
                   
                }
               .group-visual{
                    @include group();
                    @include button($green-teal, $alpha);
                    
               }
               .group-verbal{
                    @include group();
                    @include button($cobalt-blue, $alpha);
                    
               }
            }
  }
            
            
        }
        
    }
