 
    @mixin left {
  
    
        .left-side{
           
            h1{
                flex-shrink: 0;
                color: $light-lavender;
                font-size: 30px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
            .percentage{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                width: 250px;
                height: 250px;
                border-radius: 170px;
                margin-bottom: 10px;
                background: radial-gradient(50% 50.00% at 50% 50.00%, $persian-blue 0%, $violet-blue 100%);
                .value{
                    font-size: 100px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $white;
                    padding: 0;
                    margin: 0px;
                }
                h3{
                    margin-top: 1px;
                    color:  $light-lavender;
                }
            }
    
            .smal-description{
    
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 10px;
                h1{
                    color:$white;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $white;
                    padding: 0;
                    margin: 0px; 
                }
                .description{
                    color: $light-lavender;
                    text-align: center;
                    font-weight: 400;
                    font-size: 18px;
                    padding-right: 75px;
                    padding-left: 61px;
    
                }
            }
        }
}
